<% provide(:title, 'Announcements') %>

<% if flash[:notice] %>
  <div id='notice' class='alert alert-success'><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] or !flash[:errors].blank? %>
  <div id='error' class='alert alert-error'>
    <ul>
      <% if flash[:error] %>
        <li><%= flash[:error] %></li>
      <% end %>
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @admin %>
	<table>
		<tr>
			<th>
				<%= link_to "Add Announcement", announcement_create_path, class: "btn btn-primary" %>
			</th>
		</tr>
	</table>
	<br>
<% end %>

<% unless @notices.blank? %>
	<table class="table table-stripped table-hover table-condensed">
		<thead>
			<tr>
				<th>Submitted Date</th>
				<th>Title</th>
				<th>Shown on homepage?</th>
			</tr>
		</thead>
		<tbody>
				<% @notices.each do |notice| %> 
					<tr>
						<td><%= notice.created_at %></td>
						<td><%= notice.title %></td>
						<td>
							<a href=<%=announcement_toggle_show_path(notice.id)%> data-method="post">
								<%= check_box_tag "", "", notice.shown_on_homepage %>
							</a>
						</td>

						<td>
							<%= link_to "Edit", announcement_edit_path(notice.id), class: "btn btn-small btn-info" %>
						</td>
					</tr>
				<% end %>
		</tbody>
	</table>
<% else %>
	There are no announcements!
<% end %>
