<% provide(:title, 'Add New Node') %>
<h2>Add New Node</h2>
<% if flash[:error] %>
  <div id='error' class='alert alert-error'><%= flash[:error] %></div>
<% end %>
<h4><%= 'Path: ../' + Node.find(params[:parent]).parent.name + "/" + Node.find(params[:parent]).name + "/" %></h4>
<%= form_tag "/node/create" do %>
  <%= label_tag :name, 'Node name: ' %>
  <%= text_field_tag :name %><br />
  <%= label_tag :description, 'Node description: ' %>
  <%= text_area_tag :description, nil, :rows => "10", :cols => "10"%><br />
  <%= hidden_field_tag :parent, params[:parent] %>
  <%= submit_tag 'Add Node', :class => "btn btn-primary" %>
  &nbsp; &nbsp;
  <%= backButton() %>
<% end %>