<h2>Edit My Query</h2>

<% if flash[:error] %>
  <div id='error' class='alert alert-error'><%= flash[:error] %></div>
<% end %>

<%= form_tag query_edit_path(params[:id]) do %>
  <%= label_tag :description, 'Description: ' %>
  <%= text_field_tag :description, @query.description %><br />
  <%= label_tag :query_string, 'SQL Query: ' %>
  <%= text_area_tag :query_string, @query.query_string, :rows => "10", :cols => "25" %><br />
  <%= submit_tag 'Save', :class => "btn btn-large btn-primary" %>
  &nbsp; &nbsp;
  <a class="btn btn-large btn-primary" href="/query" data-method="get">Back</a>
<% end %>
