<% provide(:title, 'My SQL queries') %>

<table>
  <tr>
    <th>
      <button class="btn btn-primary" onclick=<%="get_url('#{query_create_path}')"%>>
        Create and save a query
      </button>
    </th>
    <th>
      <button class="btn btn-primary" onclick=<%="get_url('#{query_run_path}')"%>>
        Run a query
      </button>
    </th>
  </tr>
</table>
<br />
<table class="table table-stripped table-hover table-condensed">
  <thead>
    <tr>
      <th>Created date</th>
      <th>Description</th>
      <th>SQL Query</th>
    </tr>
  </thead>
  <tbody>
    <% unless @queries.blank? %>
      <% @queries.each do |query| %> 
        <tr>
          <td><%= query.created_at %></td>
          <td><%= query.description %></td>
          <td><%= query.query_string %></td>
          <td>
            <button class="btn btn-small btn-info" onclick=<%="get_url('#{query_edit_path(query.id)}')"%>>
              Edit
            </button>
          </td>
          <td>
            <button class="btn btn-small btn-info" onclick=<%="get_url('#{query_run_path(id: query.id)}')"%>>
              Run
            </button>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
