<h2>Reply message</h2>
<%= form_tag message_reply_path(params[:id]) do %>
  <%= label_tag :content, 'Content: ' %>
  <%= text_field_tag :content %><br />
  <%= hidden_field_tag :id, params[:id] %>
  <%= submit_tag 'Reply', :class => "btn btn-large btn-primary" %>
<% end %>