<% provide(:title, 'Users List') %>

<% if flash[:notice] %>
  <div id='notice' class='alert alert-success'><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] or !flash[:errors].blank? %>
  <div id='error' class='alert alert-error'>
    <ul>
      <% if flash[:error] %>
        <li><%= flash[:error] %></li>
      <% end %>
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<%= link_to "Add admin by looking up name", admin_search_path, class: "btn btn-primary" %>
<h2>Users</h2>
<br>
<table class="table table-stripped table-hover table-condensed">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Calnet ID</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% unless @users.blank? %>
      <% @users.each do |user| %> 
        <tr class="warning" >
          <td><%= user.fullname %></td>
          <td><%= user.calnetID %></td>

          <% if user.email %>
            <td>
              <%= user.email %>
            </td>
            <td>
              <%= link_to("Add Admin", admin_create_path(fullname: user.fullname, email: user.email, calnetID: user.calnetID), :method => :post, :title => "Make this user becomes an admin") %>
            </td>
          <% else %>
            <%= form_tag admin_create_path, method: :get, class: "form-inline" do %>
              <%= hidden_field_tag :fullname, user.fullname %>
              <%= hidden_field_tag :calnetID, user.calnetID %>
              <td>
                <%= email_field_tag :email, nil, placeholder: "Email required!" %>
              </td>
              <td>
                <%= submit_tag "Save email & add as Admin", class: "btn btn-small btn-primary" %>
              </td>
            <% end %>
          <% end %>
          
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>

<h2>Admins</h2>
<br>
<table class="table table-stripped table-hover table-condensed">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Calnet ID</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% unless @admins.blank? %>
      <% @admins.each do |admin| %> 
        <tr class="success" >
          <td><%= admin.fullname %></td>
          <td><%= admin.calnetID %></td>
          <td><%= admin.email %></td>
          <th>
            <%= link_to("Remove Admin", admin_destroy_path(id: admin), :method => :post, :title => "This removes the admin") %> 
          </th>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>