<% provide(:title, 'Users List') %>


<h2>Users</h2>
<br>
<table class="table table-stripped table-hover table-condensed">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Calnet ID</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% unless @users.blank? %>
      <% @users.each do |user| %> 
        <tr class=<%=getRowColor(false)%> >
          <td><%= user.fullname %></td>
          <td><%= user.calnetID %></td>
          <td><%= user.email %></td>
          <td><%= displayAddAdminLink(user) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>

<h2>Admins</h2>
<br>
<table class="table table-stripped table-hover table-condensed">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Calnet ID</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% unless @admins.blank? %>
      <% @admins.each do |admin| %> 
        <tr class=<%=getRowColor(true)%> >
          <td><%= admin.fullname %></td>
          <td><%= admin.calnetID %></td>
          <td><%= admin.email %></td>
          <th>
            <%= link_to("Remove Admin", admin_destroy_path(id: admin), :method => :post, :title => "This removes the admin") %> 
          </th>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>