<h1>Resource#create</h1>
<%= form_tag "/resource/create" do %>
  <%= label_tag :name, 'Name: ' %>
  <%= text_field_tag :name %><br />
  <%= label_tag :url, 'URL: ' %>
  <%= text_field_tag :url %><br />
  <%= hidden_field_tag :node_id, params[:node_id] %>
  <%= submit_tag 'Create' %>
<% end %>