<% provide(:title, 'Users List') %>

<table class="table table-stripped table-hover table-condensed">
	<thead>
		<tr>
			<th>Full Name</th>
			<th>Calnet ID</th>
			<th>Email</th>
			<th>Admin</th>
		</tr>
	</thead>
	<tbody>
		<% unless @users.blank? %>
			<% @users.each do |user| %> 
				<tr class=<%=getRowColor(user.isAdmin)%> >
					<td><%= name_for_calnet_id(user.calnetID) %></td>
					<td><%= user.calnetID %></td>
					<td><%= user.email %></td>
					<td><%= isAdmin?(user.isAdmin) %></td>
					<th>
						<% if user.isAdmin %>
						<%= link_to("Remove Admin", toggle_admin_user_path(user), :method => :put, :title => "This removes the admin") %> 
						<% else %>
						<%= link_to("Add Admin", toggle_admin_user_path(user), :method => :put, :title => "This adds the admin") %>
						<% end %>
					</th>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>