<% provide(:title, 'Complaints Management') %>

<table>
	<tr>
		<th><button class="btn btn-primary" onclick="displayTicketForm()" type="button">Submit Ticket</button></th>
		<th><button class="btn btn-primary" onclick="displayChart()" type="button">Display Chart</button></th>
	</tr>
</table>
<table class="table table-stripped table-hover table-condensed">
	<thead>
		<tr>
			<th>Submitted Date</th>
			<th>IP_Address</th>
			<th>Title</th>
			<th>Resolved</th>
		</tr>
	</thead>
	<tbody>
		<% unless @complaints.blank? %>
			<% @complaints.each do |complaint| %> 
				<tr class=<%=getRowColor(complaint.isResolved)%> >
					<td><%= complaint.created_at %></td>
					<td><%= complaint.ip_address %></td>
					<td><%= complaint.title %></td>
					<td><%= isResolved(complaint.isResolved) %></td>
					<th>
						<% if complaint.isResolved %>
						<%= link_to("Unresolved", toggle_complaint_path(complaint), :method => :put, :title => "This unresolves the complaint") %> 
						<% else %>
						<%= link_to("Resolved", toggle_complaint_path(complaint), :method => :put, :title => "This resolves the complaint") %>
						<% end %>
					</th>
					<th><button class="btn btn-small btn-info" onclick="displayTicket(<%= complaint.id %>)" type="button">Show Content</button></th>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>