<% provide(:title, 'Complaints Management') %>
<table>
	<tr>
		<% unless @user_admin %>
			<th><button class="btn btn-primary" onclick="displayTicketForm()" type="button">Submit Ticket</button></th>
		<% end %>
		<th><button class="btn btn-primary" onclick="displayChart()" type="button">Display Chart</button></th>
	</tr>
</table>
<br>
<table class="table table-stripped table-hover table-condensed">
	<thead>
		<tr>
			<th>Submitted Date</th>
			<th>IP_Address</th>
			<th>Title</th>
			<th>Status</th>
			<th>Owner</th>
		</tr>
	</thead>
	<tbody>
		<% unless @complaints.blank? %>
			<% @complaints.each do |complaint| %> 
				<tr class=<%=getComplaintRowColor(complaint.status)%> >
					<td><%= complaint.created_at %></td>
					<td><%= complaint.ip_address %></td>
					<td><%= complaint.title %></td>
					<td><%= complaint.status %></td>
					<td>
						<% if @user_admin %>
							<% if complaint.status == "new" %>
								<div class="btn-group">
									<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
										Assign
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<% @list_admins.each do |admin| %>
											<%= link_to admin.fullname, complaint_assign_admin_path(complaint, status: "assigned", owner: admin), method: :post %>
										<% end %>
									</ul>
								</div>
							<% else %>
								<%= displayAdmin(complaint.admin_id) %>
							<% end %>
						<% end %>
					<td>
						<% if @user_admin %>
							<div class="btn-group">
								<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
									Update
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<% ["new", "assigned", "read", "in progress", "completed"].each do |status| %>
										<%= link_to status, complaint_update_status_path(complaint, status: status), method: :post %>
									<% end %>
								</ul>
							</div>
						<% end %>
					</td>
					<td>
						<button class="btn btn-small btn-info" onclick="displayTicket(<%= complaint.id %>)" type="button">
							Show Content
						</button>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<script type="text/javascript">

	//Show the ticket form
	function displayTicketForm() {
	  var url = "/complaint/create";
	  $(location).attr('href', url);
	}

	//Show the ticket content
	function displayTicket(id) {
	  var url = "/complaint/ticket?cid=" + id;
	  $(location).attr('href', url);
	}

	//Show a complaint chart
	function displayChart() {
	  var url = "/complaint/chart";
	  $(location).attr('href', url);
	}
</script>