<% provide(:title, 'User Complaints Management') %>
<%= button_to "Submit a Ticket", complaint_create_path, :method => "get", :class => "btn btn-large btn-primary" %>
<table class="table table-stripped table-hover table-condensed">
	<thead>
		<tr>
			<th>Submitted Date</th>
			<th>IP_Address</th>
			<th>Title</th>
			<th>Resolved</th>
		</tr>
	</thead>
	<tbody>
		<% unless @user_complaints.blank? %>
			<% @user_complaints.each do |complaint| %> 
				<tr class=<%=getRowColor(complaint.isResolved)%> >
					<td><%= complaint.created_at %></td>
					<td><%= complaint.ip_address %></td>
					<td><%= complaint.title %></td>
					<td><%= isResolved(complaint.isResolved) %></td>
					<th>
						<% if complaint.isResolved %>
						<%= link_to("Unresolved", toggle_complaint_path(complaint), :method => :put, :title => "This unresolves the complaint") %> 
						<% else %>
						<%= link_to("Resolved", toggle_complaint_path(complaint), :method => :put, :title => "This resolves the complaint") %>
						<% end %>
					</th>
					<th><button onclick="displayTicket(<%= complaint.id %>)" type="button">Show Content</button></th>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>