<header>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		  <a class="brand" href="/">ISG 2.0</a>
		  <ul class="nav">
		    <li class="active"><a href="/">Home</a></li>
		    <li><a href="http://inst.eecs.berkeley.edu/~inst/">About Us</a></li>
		    <li><a href="http://inst.eecs.berkeley.edu/faq.html">FAQ</a></li>
		  </ul>
			<form class="navbar-form pull-right" method="post" action=<%=@login_url%>>
		  	<% if @current_user.nil? %>
			  	<button type="submit" id="CALNET" class="btn">CalNet</button>
	  		<% elsif isAdmin(@current_user) %>
	  			Welcome, Admin!
	  			(<a href=<%=user_logout_path%>>Sign out</a>)
	  			<br>
	  			<a href=<%=complaint_path%>>Manage Complaints</a>
	  		<% else %>
	  			Welcome, <%= @user_fullname %>!
	  			(<a href=<%=user_logout_path%>>Sign out</a>)
	  			<br>
	  			<a href=<%=complaint_path%>>Manage Complaints</a>
	  		<% end %>
		  </form>
		</div>
	</div>
</div>
</header>
