<header>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		  <a class="brand" href="/">ISG 2.0</a>
		  <ul class="nav">
		    <li class="active"><a href="/">Home</a></li>
		    <li><a href="http://inst.eecs.berkeley.edu/~inst/" class="iframe">About Us</a></li>
		    <li><a href="http://inst.eecs.berkeley.edu/faq.html" class="iframe">FAQ</a></li>
		  </ul>
			<form class="navbar-form pull-right" method="post" action=<%=@login_url%>>
		  	<% if @user %>
			  	Welcome, <%= @user.fullname %>!
	  			(<a href=<%=logout_path%>>Sign out</a>)
	  			<br>
	  			<a href=<%=complaint_path%>>Manage Complaints</a>
	  		<% elsif @admin %>
	  			Welcome, Admin <%= @admin.fullname %>!
	  			(<a href=<%=logout_path%>>Sign out</a>)
	  			<br>
	  			<a href=<%=complaint_path%>>Manage Complaints</a> |
	  			<a href=<%=announcement_path%>>Announcements</a> |
	  			<a href=<%=admin_path%>>Admins</a> |
	  			<a href=<%=query_path%>>Queries</a>
	  		<% else %>
	  			<button type="submit" id="CALNET" class="btn">CalNet</button>
	  		<% end %>
		  </form>
		</div>
	</div>
</div>
</header>
