<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'jquery.treeview', 'jquery.colorbox', 'jquery.contextMenu', 'jquery.ui.position', 'custom'%>
  <%= javascript_include_tag 'https://www.google.com/jsapi' %>
  <%= stylesheet_link_tag 'jquery.treeview.css', 'colorbox.css', 'jquery.contextMenu.css' %>
  <%= stylesheet_link_tag 'http://openfontlibrary.org/face/railway-sans' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <% if Rails.env.development? %>
    <%= debug(params) %>
    <pre>
      <%= @user.inspect %>
      <%= @json_content.inspect %>
    </pre>
  <% end %>
</body>
</html>



