<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'custom', 'http://fonts.googleapis.com/css?family=Raleway:400,500,600,300' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <% if Rails.env.development? %>
    <!-- <%= debug(params) %>
    <pre>
      <%= @list_admins.inspect %>
      <%= @json_content.inspect %>
    </pre> -->
  <% end %>
</body>
</html>



